body{font:15px font-family: 'Barrio', cursive;
margin: 0;
color: black;


}

.container{ 
  width: 100%;
  margin: auto;
  text-align: center
  font: bold;
  
} 

header{
  margin: auto;




} 

.nav-bar{
  float: left;
  display: inline;
}

header a{
	text



}