
.nav-bar {
  background: skyblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 12%;
  border: ;
}
.list li a{
  color: white;
  text-decoration: none;
}
.list li {
list-style: none;
}
body {
  margin: 0;
}



/************************************************
Flexbox Modifications
*************************************************/







/************************************************
Contact Page Styles
*************************************************/
.flexform {
	display: flex;
	flex-direction: row; 
  flex-wrap: wrap;
}

.contact {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  margin: 20px;
  flex-basis:  200px;
}

.contactSection{
   font-size: 1.5em;
   font-weight: bold;
}

.flexitem1,
.flexitem2,
.flexitem3 {
   flex-direction: column;
  
}

.flexitem1,
.flexitem2 {
  flex-grow: 1;
}

.flexitem3{
  order: -1;
}

.flexitem2 {
  flex-grow: 1.8;
  order: -2;
}



body {
  margin: 0;
}

footer {
  background-color: deepskyblue;
  border: 4px outset #998870;
  text-align: center;
  color: white;
  font-size: 18px;
/*Anchoring footer to the bottom of the page*/
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
}









